CSS reset Eric Meyers

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*====================
Custom CSS Begins here
====================*/

.heading {
    background-color: brown;
    padding: 10px 0;
}
h1 {
    float: left;
    text-align: left;
}
nav {
    float: right;
}
.clearfix::before, .clearfix::after {
    content: "";
    display: table;
}
.clearfix::after {
    clear: both;
}
nav a {
    text-align: right;
}
h2 {
 font-size: 30px;
 text-align: center;
}
p {
    font-size: 14px;
    text-align: center;
}
.column1 {
    vertical-align: top;
    width: 700px;
    display: inline-block;
}
.column2 {
    height: 100px;
    display: inline-block;
}
.col1 {
    float: left;
    width: 50%;
}
.col2 {
    float: right;
    width: 50%;
}
.footer {
    text-align: center;
    background-color: cyan;
    padding: 10px;
}
.footer p {
    font-size: 20px;
}